package pages

import "svipp-server/assets/templates/layouts"

templ HomePage(isHtmx bool) {
    if !isHtmx {
        @layouts.AuthenticatedLayout("Svipp") {
            <h1 id="auth-status">Authenticated</h1>
        }
    } else {
        <title>Svipp</title>
        <h1 id="auth-status">Authenticated</h1>
    }
}
