<div id="error-message" class="alert alert-error shadow-lg max-w-md mx-auto mt-4">
  <div>
      <ul class="list-disc list-inside mt-2">
        {{range .Error}}
          <li>{{.}}</li>
        {{end}}
      </ul>
  </div>
  <div class="flex-none">
    <button class="btn btn-sm btn-ghost" onclick="this.closest('#error-message').remove()">✕</button>
  </div>
</div>
